<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title id="name">新闻</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../dist/css/mui.min.css">
    <link rel="stylesheet" href="../../dist/toGood/css/style.css">
    <link rel="stylesheet" href="../../css/animate-v3-1-0.css">
    <link rel="stylesheet" href="../../js/layuiadmin/layui/css/layui.css">
    <link rel="stylesheet" href="../../js/layer.mobile-v2.0/layer_mobile/need/layer.css">
    <link rel="stylesheet" href="../../dist/wu-ui/wu-ui.css">
    <link rel="stylesheet" href="../../dist/wu-ui/iconfont.css">
    <script src="../../js/jquery-1.12.4.js"></script>
    <script src="../../js/vue-2-6-10.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }

        .mui-table-view .mui-media-object {
            line-height: 30px;
            max-width: 30px;
            height: 30px;
        }

        .mui-card {
            margin: 0;
        }

        .mui-card-footer:before,
        .mui-card-header:after {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 0;
            content: '';
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
            background-color: #c8c7cc
        }

        .mui-table-view-cell:after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 15px;
            height: 0px;
            content: '';
            -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
            background-color: #c8c7cc;
        }

        .mui-table-view {
            width: 100%;
        }

        .mui-card-media {
            color: #000;
        }


        .likeCount {
            font-family: 'Georgia', Times, Times New Roman, serif;
            margin-top: -5px;
            margin-left: 10vw;
            font-size: 6vw;
            color: #999999;
        }

        .heart {
            height: 16vw;
            width: 16vw;
            left: -2vw;
        }

        #right {
            position: fixed;
            top: 0;
            left: 100%;
            width: 100%;
        }

        #left {
            position: relative;
            top: 0;
            right: 0;
        }

        .left-a {
            position: absolute;
            top: 12px;
            right: 3vw;
            font-size: 14px;
        }

        .write {
            /*margin: 3px;*/
            width: 50px;
            height: 50px;
            display: inline-block;
            text-align: center;
            background-color: rgba(79, 79, 79, 0.4);
            background-color: rgba(79, 79, 79, 0.4);
            border-radius: 25px;
            background-clip: padding-box;
            position: fixed;
            right: 5px;
            bottom: 60px;
        }

        .no {
            background: #F3F3F3;
            color: #C7C7C7;
            border: none;
        }


        .yes {
            background: #57BE6A;
            color: #FFFFFF;
            border: none;
        }

        * {
            touch-action: pan-y;
        }

        .mui-bar {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    </style>


</head>

<body style=" background-color: #FFFFFF;">

    <div id="app" class="mui-content" style=" background-color: #FFFFFF;" v-cloak>


        <!--    <header class="mui-bar mui-bar-nav" v-if="show" style="background: white;">-->
        <!--        <a class="">-->
        <!--            <div :class="classStyle" data-id="like2" :rel="classStyle.rel" style="left: 0vw;bottom: 0vw;"></div>-->
        <!--            <div class="likeCount" data-id="likeCount2" style="margin-top: 0px;position:relative;top:13px;">{{Count}}</div>-->
        <!--        </a>-->

        <!--        <a class="left-a" @click="toWrite">写留言</a>-->
        <!--    </header>-->


        <div id="left">
            <div class="mui-card" v-show="isShow">
                <div class="mui-card-header mui-card-media">
                    <!--                    <img src="../images/logo.png" />-->
                    <!--                    <div class="mui-media-body">-->
                    <h3 v-html="newsTitle"></h3>
                    <p>发表于<span v-html="newsTime"></span></p>
                    <!--                    </div>-->
                    <!--<img class="mui-pull-left" src="../images/logo.png" width="34px" height="34px" />
                <h2>小M</h2>
                <p>发表于 2016-06-30 15:30</p>-->
                </div>
                <div style="padding: 10px;" class="mui-card-content" v-html='info'>

                </div>
                <div class="mui-card-footer">
                    <!--                    <a style="color: #5B6A91;" class="mui-card-link" ></a>-->
                    <a class="mui-card-link" v-if="isdd">
                        <!--                        <div :class="classStyle" data-id="like2" :rel="classStyle.rel"></div>-->
                        <!--                        <div class="likeCount" data-id="likeCount2" v-html="Count"></div>-->
                        <span style="position: absolute;top: -4px;left: 10px;height: 100%;width: 200px">

                            <img @click="toLike(Like.type,form.articleId)" style="width: 20px;" :src="Like.icon">
                            <span
                                style="font-size: 18px;position: relative;top: 4px;color:#636F8F">{{Like.count}}</span>
                        </span>
                    </a>
                    <a class="mui-card-link"><span style="color:#C7C7C7">阅读量&nbsp;{{LookNumber}}</span></a>


                </div>
                <div v-if="isdd" class="mui-card-footer" style="background:rgb(242, 242, 242); ">
                    <!--                    <a style="color: #5B6A91;" class="mui-card-link" ></a>-->
                    <a style="color: #C7C7C7;" class="mui-card-link">全部评论</a>
                    <a style="color: #636F8F;" class="mui-card-link" @click="toWrite">写评论</a>


                </div>
                <div v-if="isdd">
                    <div class="mui-card-footer" :style="footStyle" v-if="iscommentList">
                        <ul class="mui-table-view" :style="footStyle">
                            <li class="mui-table-view-cell mui-media" v-for="(item,idx) in  commentList">
                                <a href="javascript:;">
                                    <img style="border-radius: 2px;" class="mui-media-object mui-pull-left"
                                        :src="item.userTouxiang">
                                    <div class="mui-media-body" :style="comentTitleStyle">
                                        {{item.userName}}
                                        <span style="position: absolute;top: 10px;right: 0px;"><img
                                                @click="dinzan_2(idx,item.type,item.id)" style="width: 20px;"
                                                :src="item.icon">&nbsp;<span
                                                style="font-size: 18px;position: relative;top: 4px;color:#636F8F">{{item.count}}</span></span>
                                        <div :style="commentItemStyle" v-html="item.comment"></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div style="text-align: center;" class="mui-card-footer" :style="footStyle" v-else>
                        <div></div>
                        {{iscommentList_no_text}}
                        <div></div>
                    </div>
                    <a v-show="show" :class="writeAnimate" @click="toWrite">
                        <span class="bbb">
                            <i class="layui-icon layui-icon-edit"
                                style="position: relative;top: 8px; font-size: 30px; color: white;"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div id="right">
            <div class="mui-card" style="background-color: transparent;box-shadow: none;margin:20px 10px;">
                <div class="mui-card-header" style="font-size: 4vw;">
                    <h5>{{newsTitle}}</h5>
                </div>
                <div class="mui-card-content" style="border-top: 1px solid #EAEAEA; border-bottom: 1px solid #EAEAEA;">
                    <div class="mui-card-content-inner">
                        <div class="mui-input-row" style="margin: 10px 5px;">
                            <textarea style="background-color: transparent; border: none;" id="textarea" rows="5"
                                @input="inwrite" placeholder="请输入评论" v-model="form.comment"></textarea>
                        </div>
                    </div>
                </div>
                <div class="mui-card-footer" style="margin-top: 20px;">
                    <a> </a>
                    <button style="width: 40vw;" @click="submit" type="button" :class="SubmitBottonClass">
                        发表评论
                    </button>
                    <!--                <button @click="goback" type="button" class="mui-btn mui-btn-danger">-->
                    <!--                    返回-->
                    <!--                </button>-->
                    <a> </a>
                </div>
            </div>
            <nav v-show="navShow" class="mui-bar mui-bar-tab" style="background: #F7F7F7;">
                <div class="mui-tab-item" @click="goback">
                    <span class="mui-tab-label">
                        <i class="layui-icon layui-icon-left" style="color: #5B5B5B;"></i>
                    </span>
                </div>
                <div class="mui-tab-item">
                    <span class="mui-tab-label">
                        <i class="layui-icon layui-icon-right" style="color:#E0E0E0;"></i>
                    </span>
                </div>
            </nav>


        </div>
    </div>

</body>

<script src="../../js/layer.mobile-v2.0/layer_mobile/layer.js"></script>
<script src="../../dist/js/mui.min.js"></script>
<script src="../../js/jquery.cookie.js"></script>

<script src="../../js/common/api.js"></script>
<script src="../../js/common/localjs.js"></script>
<script src="../../dist/wu-ui/wu-ui.js"></script>
<script src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.7.13/dingtalk.open.js"></script>


<script>
    const go = (item) => {
        // console.log(gotoThis);
        setTimeout(function () {
            let scroll_offset = item.offset(); //得到box这个div层的offset，包含两个值，top和left

            $("body,html").animate({
                scrollTop: scroll_offset.top //让body的scrollTop等于pos的top，就实现了滚动
            });

            console.log(scroll_offset.top);


        }, 1);

    };


    const app = new Vue({
        el: "#app",
        data: {
            isdd: false,
            classStyle: { //点赞的class
                "heart": true,
                "heartAnimation": false,
                rel: "like"
            },
            writeAnimate: { //写评论的悬浮按钮的class
                "animated ": true,
                "write": true,
                "bounceOutLeft": true,
                "bounceInLeft": false,

            },
            SubmitBottonClass: {
                "mui-btn": true,
                // "mui-btn-primary": true,
                "no": true,
                "yes": false
            },
            isShow: false,
            newsTitle: "", //新闻标题
            newsTime: "", //新闻时间
            info: "", //新闻详情
            showPic: "", //展示图片
            marks: "", //摘要
            LookNumber: 0, //新闻阅读量
            //是否有评论
            iscommentList: false, //默认没有
            iscommentList_no_text: "暂无评论", //没有评论时显示的文字
            No_icon: "../images/dianzNo.png",
            Yes_icon: "../images/dianzYes.png",

            Like: {
                icon: "",
                type: false,
                count: 0
            },


            //如果用户没有头像,显示默认头像
            NoIcon: "../images/noicon.png",
            //如果是未知用户
            NoName: "未知用户",

            footStyle: "background: #F2F2F2;",
            commentHight: $(".mui-card-footer").offset().top, //留言板标签的高度
            Count: 0, //点赞数量
            isClick: false, //是否被点击
            show: false, //是否显示点赞头
            navShow: false, //下方导航栏是否显示
            islock: false, //锁住数字
            comentTitleStyle: "color: #888888;",
            commentItemStyle: "color: #333333;width:100%;word-wrap: break-word;word-break: break-all;overflow: hidden;white-space:normal;",
            commentList: [],
            form: { //表单提交
                comment: "",
                articleId: "", //文章的id
                channelId: "" //栏目的id
            }
        },
        methods: {
            //根据id获取新闻详情
            getInfo: () => {
                    const _this = this;
                    ajaxSubmit({
                        articleId: app.form.articleId
                    }, Api.Article.info, "GET", (res) => {
                        let aa = res.data;
                        app.newsTitle = aa.title; //赋值标题
                        app.newsTime = timestampToTime(aa.createDate); //新闻发表时间
                        app.info = aa.content; //新闻内容




                        // $("#name").html(aa.title);
                        // $(document).attr("title", aa.title);//修改title值



                        app.isShow = true;

                        console.log(aa.blogChannel.id);
                        app.form.channelId = aa.blogChannel.id;

                        app.showPic = aa.showPic;
                        app.marks = aa.marks;
                        //输出一下获得的
                        console.log("文章的内容是====", aa);
                    }, (err) => {
                        console.log(err);
                    });
                }
                //根据id获取评论列表
                ,
            getcommentList: () => {
                    ajaxSubmit(null, Api.Article.CommentList + "?page=1&limit=999999&articleId=" +
                        app.form.articleId + "&type=1", "POST", (res) => {
                            let aa = res.data.records; //评论列表
                            if (aa.length > 0) { //如果有评论
                                app.commentList = [];
                                app.iscommentList = true;
                                $.each(aa, (idx, obj) => {
                                    let icon;
                                    let userName;
                                    if (obj.updateUser != undefined) {
                                        icon = obj.updateUser.icon;
                                        if (icon == "" || icon == null || icon ==
                                            undefined) {
                                            icon = app.NoIcon;
                                        }
                                        userName = obj.updateUser.loginName;
                                    } else {
                                        icon = app.NoIcon;
                                        userName = app.NoName;
                                    }

                                    let count = obj.blogInteractions.length;

                                    let type;
                                    $.each(obj.blogInteractions, (_idx, _obj) => {
                                        if (_obj.createId == localStorage
                                            .getItem("userId")) {
                                            type = true;
                                        } else {
                                            type = false;
                                        }
                                    });

                                    let icon2;
                                    if (type) {
                                        icon2 = app.Yes_icon;
                                    } else {
                                        icon2 = app.No_icon;
                                    }
                                    app.commentList.push({
                                        time: timestampToTime(obj.createDate),
                                        userName: userName, //用户名
                                        userTouxiang: icon, //用户头像
                                        comment: obj.content, //用户评论
                                        count: count, //点赞数量
                                        type: type, //是否点过了
                                        icon: icon2, //点赞图标
                                        id: obj.id //评论的id
                                    })

                                });
                            }

                        }, (err) => {
                            console.log(err);
                        });
                }
                //获取阅读量
                ,
            getLookNumber() {
                ajaxSubmit({
                    articleId: app.form.articleId
                }, Api.Article.LookNumber, "POST-1", (res) => {
                    app.LookNumber = res.data; //赋值阅读量
                }, (err) => {

                })
            }
            //评论点赞
            ,
            dinzan_2: (idx, type, id) => {
                    let list = app.commentList[idx];
                    if (type) {
                        list.type = false;
                        list.icon = app.No_icon;
                        list.count = list.count - 1;
                    } else {
                        list.type = true;
                        list.icon = app.Yes_icon;
                        list.count = list.count + 1;
                    }

                    ajaxSubmit({
                        userId: localStorage.getItem("userId"),
                        commentId: id
                    }, Api.Article.CommentLike, "GET", (res) => {
                        console.log("点赞成功");
                    }, (err) => {
                        wu.showMessage({
                            title: err,
                            type: "error"
                        });
                    })


                }
                //根据id获取点赞列表
                ,
            getLikeList: () => {
                ajaxSubmit({
                    articleId: app.form.articleId
                }, Api.Article.likeList, "GET", (res) => {
                    let aa = res.data;
                    let userid = localStorage.getItem("userId");
                    app.Like.count = aa.length; //点赞数数量
                    let i = false;
                    $.each(aa, (idx, obj) => {
                        if (obj.createId == userid) {
                            i = true;
                            // app.classStyle["heartAnimation"] = true;
                            // app.classStyle.rel = "unlike";
                            // // $(this).addClass("heartAnimation").attr("rel", "unlike");
                            // app.isClick = true;//被点击了

                        }
                    });

                    if (i) {
                        app.Like.type = true;
                        app.Like.icon = app.Yes_icon;
                    } else {
                        app.Like.type = false;
                        app.Like.icon = app.No_icon;
                    }

                }, (err) => {
                    console.log(err);
                });
            },
            toLike(type, id) {
                if (type) {
                    app.Like.type = false;
                    app.Like.count = app.Like.count - 1;
                    app.Like.icon = app.No_icon;
                } else {
                    app.Like.type = true;
                    app.Like.count = app.Like.count + 1;
                    app.Like.icon = app.Yes_icon;
                }
                app.articleLike(id);
            }
            //根据id来点赞和取消点赞
            ,
            articleLike: () => {
                ajaxSubmit({
                    articleId: app.form.articleId,
                    userId: localStorage.getItem("userId")
                }, Api.Article.like, "GET", (res) => {

                }, (err) => {
                    console.log(err);
                });
            },
            toWrite: () => { //显示留言板
                app.show = false;
                console.log(app.commentHight);
                console.log("获得的值为--", this);
                $("#right").animate({
                    left: "0"
                });

                $("#left").animate({
                    right: "100%"
                }, function () {
                    $("#left").hide();
                    app.navShow = true;
                });
            },
            goback: () => { //返回新闻详情
                $("#left").show();
                app.navShow = false;
                $("#right").animate({
                    left: "100%"
                });

                $("#left").animate({
                    right: "0"
                }, function () {
                    go($(".mui-table-view"));
                });
            },
            inwrite: () => {
                let val = app.form.comment;
                if (val != "" && val != null) {
                    app.SubmitBottonClass["no"] = false;
                    app.SubmitBottonClass["yes"] = true;
                } else {
                    app.SubmitBottonClass["no"] = true;
                    app.SubmitBottonClass["yes"] = false;
                }
            },
            tofx() {
                
            },
            submit: () => { //提交

                if (app.SubmitBottonClass["yes"]) {
                    let value = app.form.comment;
                    console.log("获得的值为--", value);
                    ajaxSubmit({
                            text: "text"
                        }, Api.Article.saveComment + "?content=" + value + "&articleId=" +
                        app.form.articleId + "&channelId=" + app.form.channelId +
                        "&userId=" + localStorage.getItem("userId"), "POST", (res) => {
                            app.getcommentList(); //刷新评论列表
                            wu.showMessage({
                                title: "发表评论成功",
                                type: "success"
                            });
                            setTimeout(() => {
                                app.goback();
                                app.form.comment = "";
                            }, 1000);
                        }, (err) => {
                            console.log(err);
                        });


                }
            }
        },
        mounted() {

        },
    });


    $(() => {


        //每两秒修正一下元素的高度
        setInterval(() => {
            app.commentHight = $(".mui-card-footer").offset().top;
        }, 1 * 1000);





        //获取文章的id
        let articleId = parseInt(GetQueryString("id"));
        app.form.articleId = articleId;
        // app.form.channelId = GetQueryString("newsType");


        app.getInfo(); //获得详情
        app.getcommentList(); //获取评论
        app.getLikeList(); //判断是否以前就点赞了
        app.getLookNumber(); //获取阅读量





        // $(".write").hide();

        $('body').on("click", '.heart', function () {


            var A = $(this).data("id");
            var B = A.split("like");
            var messageID = B[1];
            var C = app.Count;
            $(this).css("background-position", "");
            var D = $(this).attr("rel");

            if (D === 'like') {
                console.log("点赞了");
                // $("#likeCount" + messageID).html(C + 1);
                // if(!app.islock){
                //     app.islock = true;
                app.Count = C + 1;
                // }
                app.classStyle["heartAnimation"] = true;
                app.classStyle.rel = "unlike";
                // $(this).addClass("heartAnimation").attr("rel", "unlike");
                app.isClick = true; //被点击了
            } else {
                // $("#likeCount" + messageID).html(C - 1);
                app.Count = C - 1;
                console.log("取消点赞");
                app.classStyle["heartAnimation"] = false;
                app.classStyle.rel = "like";
                // $(this).removeClass("heartAnimation").attr("rel", "like");
                $(this).css("background-position", "left");
                app.isClick = false; //取消点击
            }

            //开始点赞或取消点赞
            app.articleLike(articleId);

        });


        $(window).scroll(function () {
            // console.log($(window).scrollTop() + $(window).height()-$(document).height());
            let i = $(window).scrollTop(); // + $(window).height()-$(document).height();
            // console.log(i,"--",app.commentHight);

            if (i >= app.commentHight) {
                // if (app.isClick && !app.islock) {
                //
                //     app.classStyle["heartAnimation"] = true;
                //     app.classStyle.rel = "unlike";
                //     // console.log(111111);
                //     app.islock = true;
                // }

                // app.show =;
                if (!app.islock) {
                    // $(".write").show();
                    app.show = true;
                    app.islock = true;
                    app.writeAnimate["bounceInLeft"] = true;
                    app.writeAnimate["bounceOutLeft"] = false;

                }
            } else {
                // if (app.isClick && app.islock) {
                //     app.islock = false;
                //     app.classStyle["heartAnimation"] = true;
                //     app.classStyle.rel = "unlike";
                //     // console.log(222222);
                // }
                // app.show = false;
                if (app.islock) {
                    // app.show = false;
                    app.islock = false;
                    app.writeAnimate["bounceInLeft"] = false;
                    app.writeAnimate["bounceOutLeft"] = true;
                }

            }
        });


    });




    dd.ready(function () {

        app.isdd = true;



        dd.biz.navigation.setTitle({
            title: app.newsTitle, //控制标题文本，空字符串表示显示默认文本
            onSuccess: function (result) {
                /*结构
                {
                }*/
            },
            onFail: function (err) {}
        });



        dd.biz.navigation.setRight({
            show: true, //控制按钮显示， true 显示， false 隐藏， 默认true
            control: true, //是否控制点击事件，true 控制，false 不控制， 默认false
            text: '分享', //控制显示文本，空字符串表示显示默认文本
            onSuccess: function (result) {
                // app.tofx();

                dd.biz.util.share({
                    type: 0, //分享类型，0:全部组件 默认；1:只能分享到钉钉；2:不能分享，只有刷新按钮
                    url: Api.html_url + "?id=" + app.form.articleId + "&newsType=" + app.form.channelId,
                    title: app.newsTitle,
                    content: app.marks,
                    image: app.showPic,
                    onSuccess: function () {
                        //onSuccess将在调起分享组件成功之后回调
                        /**/
                    },
                    onFail: function (err) {}
                }); 


            },
            onFail: function (err) {}
        });



    });
</script>
<script src="../../js/common/istoken.js"></script>

</html>