<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="name"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="../../js/jquery-1.12.4.js"></script>
    <script src="../../js/vue-2-6-10.js"></script>
    <link rel="stylesheet" href="../../dist/css/mui.css">
    <link rel="stylesheet" href="../../css/app.css">

    <style>
        [v-cloak] {
            display: none;
        }
        * {
            touch-action: pan-y;
        }

        .mui-card-header {
            height: 50vw;
        }

        .info-item-time {
            margin: 0 auto;
            text-align: center;
            font-size: 3.3vw;
            width: 35vw;
            height: 6vw;
            line-height: 6vw;
            /*background: #BEBEBE;*/
            color: #A5A5A5;
            border-radius: 2px;
        }

        .info-item {
            margin-top: 30px;
        }

        .bottom-foot {
            /*margin-bottom: 10px;*/
            text-align: center;
            height: 50px;
            line-height: 50px;
        }

        .mui-bar-tab {
            bottom: -1px;
        }

        .mui-bar-tab {
            height: 7vh;
        }

        .mui-popover {
            width: 120px;
        }

        .mui-table-view-cell {
            text-align: right;
        }

        .mui-bar {
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .ww {
            height: 93vh;
            overflow: auto;
            display: inline-block;
        }

        .font-color {
            color: #A5A5A5;
        }
    </style>
    <link rel="stylesheet" href="../../js/layuiadmin/layui/css/layui.css">
    <link rel="stylesheet" href="../../js/layer.mobile-v2.0/layer_mobile/need/layer.css">



</head>
<body>

<div id="info" v-cloak>
    <div class="mui-content" v-if="islogin">
        <div id="box">
            <div v-show="isShow">
                <div class="info-item" v-for="(item,idx) in list">
                    <div class="info-item-time">{{item.newsTime}}</div>
                    <div class="mui-card" @click="toherf(item.id,item.remark,item.img)">
                        <div class="mui-card-header mui-card-media" :style="item.indexImg">
                            <div style="position: absolute;bottom: 10px;width: 96%;">{{item.title}}</div>
                        </div>
                        <div class="mui-card-content">
                            <div class="mui-card-content-inner">
                                <p>{{item.newsTime}}</p>
                                <p style="color: #333;">{{item.remark}}</p>
                            </div>
                        </div>
                        <div class="mui-card-footer">
                            <div class="mui-card-link">详情</div>
                            <a class="mui-card-link"><span class="mui-icon mui-icon-arrowright"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="have" class="bottom-foot font-color"><i
                    class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop font-color"></i>{{loading.loadingTitle}}
            </div>
            <div v-else class="bottom-foot font-color">{{loading.finish}}</div>

        </div>

        <nav id="foot" class="mui-bar mui-bar-tab hide">
            <a class="mui-tab-item" href="#Popover_0"><i class="layui-icon layui-icon-menu-fill"
                                                         style="color:#E0E0E0"></i> 新人必点</a>
            <a class="mui-tab-item" href="#Popover_1"><i class="layui-icon layui-icon-menu-fill"
                                                         style="color:#E0E0E0"></i>学院指南</a>
            <a class="mui-tab-item"><i class="layui-icon layui-icon-menu-fill" style="color:#E0E0E0"></i>学习平台</a>
            <a class="mui-tab-item" href="newsList_item.html?type=25"><i class="layui-icon layui-icon-menu-fill"
                                                                         style="color:#E0E0E0"></i>学院动态</a>
        </nav>
        <div id="Popover_0" class="mui-popover mui-bar-popover">
            <div class="mui-popover-arrow"></div>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell"><a href="newsList_item.html?type=20&name=高管认知">高管认知</a>
                </li>
                <li class="mui-table-view-cell"><a href="newsList_item.html?type=21&name=分店介绍">分店介绍</a>
                </li>
            </ul>
        </div>
        <div id="Popover_1" class="mui-popover mui-bar-popover">
            <div class="mui-popover-arrow"></div>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell"><a href="newsList_item.html?type=22&name=学院简介">学院简介</a>
                </li>
                <li class="mui-table-view-cell"><a href="newsList_item.html?type=23&name=师资团队">师资团队</a>
                </li>
                <li class="mui-table-view-cell"><a href="newsList_item.html?type=24&name=培训制度">培训制度</a>
                </li>
            </ul>
        </div>
        <div id="Popover_2" class="mui-popover mui-bar-popover">
            <div class="mui-popover-arrow"></div>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell"><a href="#">公司新闻</a>
                </li>
                <li class="mui-table-view-cell"><a href="#">行业新闻</a>
                </li>
            </ul>
        </div>


    </div>

    <div v-else>
        {{errorMsg}}
    </div>
</div>

</body>

<script src="../../js/layer.mobile-v2.0/layer_mobile/layer.js"></script>
<script src="../../dist/js/mui.min.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../js/common/api.js"></script>
<script src="../../js/common/localjs.js"></script>
<script src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.7.13/dingtalk.open.js"></script>
<script>
    let newsType;
    dd.ready(function () {

        // $("#info").hide();

        let app = new Vue({
            el: "#info",
            data: {
                isShow: true,
                islogin: true,
                errorMsg: "",//错误信息
                page: 1,//页数
                limit: 10,//每页显示多少条数据
                newsType: "",//微应用类型
                have: true,//下一页是否有数据
                islock: true,//是否锁住
                boxClass: {
                    "ww": false
                },
                loading: {
                    loadingTitle: "加载中",//加载中显示的文本,
                    finish: "没有更多了",//没有更多数据显示的文本
                },
                list: []
            }
            , methods: {
                toherf(event,remark,img) {//点击跳转
                    console.log(event);
                    //跳转到详情页面
                    window.location.href = "newsinfo.html?id=" + event + "&newsType=" + app.newsType;
                    sessionStorage.setItem("content",remark);
                    sessionStorage.setItem("img",img);
                }

            }
            , mounted() {//实例渲染之前

            }
            , updated() {//实例渲染完后调用
                // $("#info").hide();
            }


        });




        //获得下一页
        const getList = () => {
            // console.log("进来了");
            if (app.have && app.islock) {//如果不是最后一页
                app.islock = false;//锁住
                console.log("发送下一页请求-----");

                let page = app.page;
                let limit = app.limit;

                ajaxSubmit({page: page, limit: limit, channelId: app.newsType}, Api.Article.list, "GET", (e) => {
                    app.islock = true;//开锁,,请求成功后就开锁
                    let aa = e.data;
                    if (aa.length > 0) {
                        $.each(aa, (idx, obj) => {
                            let item = {};
                            item.newsTime = timestampToTime(obj.createDate);
                            item.indexImg = "background-image:url(" + obj.showPic + ")";
                            // item.indexImg="background-image:url(../images/muwu.jpg)",//新闻图片
                            item.title = obj.title;
                            item.remark = obj.marks;
                            item.id = obj.id;
                            item.img = obj.showPic;

                            app.list.push(item);
                        });
                        app.page = page + 1;

                        app.have = true;
                    } else {
                        app.have = false;
                    }

                    if (app.list.length < 5) {
                        app.have = false;
                    }

                }, (err) => {
                    console.log(err);
                });


            }
        };


        // newsType = GetQueryString("type");
        newsType = 2;
        app.newsType = newsType;
        let TitleName;
        if (newsType == 2) {
            appid = 1;
            // $("#name").html("天港新闻");
            TitleName = "天港新闻";
        } else if (newsType == 5) {
            appid = 2;
            // $("#name").html("天港管理学院");
            // $(document).attr("title","天港管理学院");
            TitleName = "天港管理学院";
        } else if (newsType == 19) {
            appid = 3;
            // $("#name").html("浩强总讲话");
            // $(document).attr("title","浩强总讲话");
            TitleName = "浩强总讲话";
        }

        dd.biz.navigation.setTitle({
            title: TitleName,//控制标题文本，空字符串表示显示默认文本
            onSuccess: function (result) {
                /*结构
                {
                }*/
            },
            onFail: function (err) {
            }
        });


        // loginIn();
        //登录
        // let token = localStorage.getItem("userId");
        // if (token == "" || token == null || token == undefined) {
        //     loginIn(appid);
        // } else {
        //     app.islogin = true;
        // }



        // newsType = 2;


        // console.log(this);
        if (newsType == 5) {//说明是管理学院进入
            $("#box").css({"height": "93vh", "overflow": "auto"});
            $("#foot").show();
        }


        getList();//获取列表详情


        if (newsType != 5) {//没有导航栏的页面
            $(window).scroll(function () {
                // console.log($(window).scrollTop() + $(window).height()-$(document).height());
                let i = $(window).scrollTop() + $(window).height() - $(document).height();
                // console.log(i);
                if (i == 0 || i == 0.5 || i == -1) {//页面滚动到了底部
                    getList();
                } else {
                    app.have = true;
                }
            });
        } else {//有导航栏的页面
            var nScrollHight = 0; //滚动距离总长(注意不是滚动条的长度)
            var nScrollTop = 0;   //滚动到的当前位置
            var nDivHight = $("#box").height();
            $("#box").scroll(function () {
                nScrollHight = $(this)[0].scrollHeight;
                nScrollTop = $(this)[0].scrollTop;
                if (nScrollTop + nDivHight >= nScrollHight) {
                    console.log("滚动到了底部");
                    getList();
                }

            });

        }


    });

</script>
<script src="../../js/common/istoken.js"></script>
</html>
